#help {    
    /* overflow: hidden; */
    display: none;
    position: absolute;
    top: 300px;
    right: 600px;
    z-index: 1;
    border: 1px solid #e0dfdf;
    background-color: #c3c3c3;
    text-align:center;
    width: auto !important;
    height: auto !important;
}
#help li{
    color: #4d555d;
    padding: 0 5px;
    line-height: 23px;
    white-space: nowrap;
    cursor: pointer;
}